{#
# jquery.collection.html.twig
#
# Adds the following html attributes to the root node of your collection fields:
#
# - data-prototype-name: placeholder used in the prototype to replace element indexes on the collection
# - data-allow-add: if set to false, plugin will automatically set allow_add option to false
# - data-allow-delete: if set to false, plugin will automatically set allow_remove option to false
# - data-name-prefix: contains the collection's prefix used in descendant field names
#
# Those information let you configure the plugin options automatically.
#
# If you are already using a form theme, you can use both by using:
# {%
#   form_theme myForm
#       'FuzAppBundle::my-form-theme.html.twig'
#       'FuzAppBundle::jquery.collection.html.twig'
#       ...
# %}
#}

{% block collection_widget %}
    {% spaceless %}
        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#'+input.dataset.imageId)
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200).show();
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
            // $(document).ready(function(){
            //     $("#btn1").click(function(){
            //         var totalInput = $(this).data('value');
            //         totalInput++;
            //         $("#appbundle_proposer_images_0_imageFile_file").parent().append($("<input/>",{type:"file",name:"appbundle_proposer[images]["+totalInput+"][imageFile][file]",accept:'image/*',id:'#appbundle_proposer_images_'+totalInput+'_imageFile_file'})).append("<img id="+totalInput+" src=\"#\"/>");
            //         $(this).data('value', totalInput);
            //         if(totalInput == 9){
            //             $(this).prop('disabled', true);
            //         }
            //     });
            // });
        </script>
        {#<button type="button" class="btn btn-info" id="btn1" data-value="0">#}
            {#<span class="glyphicon glyphicon-plus"></span>#}
        {#</button>#}
        {#<hr>#}
        {#<input type="file" onchange="readURL(this);" data-image-id="0" id="appbundle_proposer_images_0_imageFile_file" name="appbundle_proposer[images][0][imageFile][file]">#}
        {#<img id="0" src="#"/>#}
        <div class="box">
            <input type="file" onchange="readURL(this);" data-image-id="0" class="inputfile inputfile-1" id="appbundle_proposer_images_0_imageFile_file" name="appbundle_proposer[images][0][imageFile][file]">
            <label for="appbundle_proposer_images_0_imageFile_file"><i class="fas fa-download"></i><span>  1</span></label>
            <img id="0" src="#" style="display: none;"/>
        </div>
        <style>
            .inputfile{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .inputfile + label {
                max-width: 80%;
                font-size: 1.25rem;
                font-weight: 700;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                display: inline-block;
                overflow: hidden;
                padding: 0.625rem 1.25rem;
                color: #f1e5e6;
                background-color: #d3394c;
            }
        </style>
    {% endspaceless %}
{% endblock collection_widget %}
